.about{
    padding-bottom: 73px;
    position: relative;
    overflow: hidden;
    .toggle-sidebar{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #000;
        border-right: transparent;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        font-size: 30px;
        background: #fff;
        z-index: 2;
        padding: 10px;
        cursor: pointer;
        transition: 0.4s ease-in;
    }
    .about-data{
        h2{
            margin-bottom: 20px;
            @media(min-width: 992px){
                font-size: 4.4rem;
            }
        }
        p{
            font-size: 1.8rem;
            line-height: 2.6rem;
            &:first-of-type{
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 29px;
            }
        }
        figure{
            margin-bottom: 66px;
            img{
                width: 100%;
            }
        }
    }
    .about-sidebar-news{
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh !important;
        transition: 0.4s ease-in;
        @media(min-width: 992px){
            position: static;
            height: auto !important;
        }
        .search-form{
            margin-bottom: 40px;
            input{
                border: 1px solid #1e1e1e;
                border-right: none;
                padding: 20px;
                &::placeholder{
                    font-style: italic;
                }
            }
            button{
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 17px auto;
                border-left: none;
                padding: 20px;
            }
        }
        .latest-trends-item{
            &:not(:last-of-type)
                {margin-bottom: 20px;}
        }
    }
}