.intro{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 218px 0 269px;
    text-align: center;
    margin-bottom: 75px;
}
.about-intro,
.services-intro{
    padding: 283px 0;
    margin-bottom: 90px;
}
.blog-intro{
    padding: 283px 0 263px;
    margin-bottom: 86px;
}
