.services{
    margin-bottom: 111px;
    .section-title{
        margin-bottom: 46px;
    }
    .services-item{
        background-color: #f5f5f5;
        &:nth-of-type(even){
            background-color: #ECD9D9;
        }
        @media(min-width: 768px){
            &:nth-of-type(odd) .row .services-item-picture{
                order: 2;
            }
        }
        .services-item-picture{
            margin-bottom: 0 !important;
            padding-left: 0;
        }
        .services-item-content{
            padding: 72px 32px 31px;
            @media(min-width: 992px){
                padding: 143px 64px 93px;
            }
            h2{
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 36px;
                width: 100%;
                margin-inline: auto;
                @media(min-width: 768px){
                    
                    
                }
                @media(min-width: 992px){
                    font-size: 36px;
                    line-height: 44px;
                }
            }
            .service-link{
                display: inline-block;
                padding: 14px 36px;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #1e1e1e;
                border: 1px solid #1e1e1e;
            }

        }
    }
}

