.services{
    margin-bottom: 111px;
    .section-title{
        margin-bottom: 46px;
    }
    .services-item{
        background-color: #f5f5f5;
        &:nth-of-type(even){
            background-color: #ECD9D9;
        }
        @media(min-width: 768px){
            &:nth-of-type(odd) .row .services-item-picture{
                order: 2;
            }
        }
        .services-item-picture{
            margin-bottom: 0 !important;
            padding-left: 0;
        }
        .services-item-content{
            padding-inline: 32px;
            @media(min-width: 992px){
                padding-inline: 64px;
            }
            div{
                padding: 143px 0 96px;
                @media(min-width: 768px){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                
                h2{
                    font-size: 2rem;
                    line-height: 3.4rem;
                    margin-bottom: 36px;
                    width: 100%;
                    margin-inline: auto;
                    @media(min-width: 768px){


                    }
                    @media(min-width: 992px){
                        font-size: 3.6rem;
                        line-height: 4.4rem;
                    }
                }
                .service-link{
                    display: inline-block;
                    padding: 14px 36px;
                    margin-right: auto;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #1e1e1e;
                    border: 1px solid #1e1e1e;
                }
            }


        }
    }
}

