.single-blog{
    padding: 80px 0 130px;
    @media(min-width: 992px){
        padding: 165px 0 273px;
    }
    .category{
        font-family: $bodoni;
        font-size: 1.4rem;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        line-height: 1.7rem;
        margin-bottom: 20px;
        a{
            color: #1e1e1e;
            font-weight: bold;
            margin-right: 5px;
            display: inline-block;
        }
        i{
            display: inline-block;
            margin-left: 14px;
        }
    }
    .row{
        margin-bottom: 97px;
        .single-blog-description{

            .single-blog-description-title{
                font-size: 2.8rem;
                font-family: $lato;
                font-weight: 400;
                line-height: 3.4rem;
                color: #1e1e1e;
                letter-spacing: normal;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 26px;
                @media(min-width: 992px){
                    font-size: 4.4rem;
                    line-height: 5rem;
                }
            }
            .single-blog-description-text{
                font-size: 2rem;
                line-height: 2.8rem;
                margin-bottom: 0;
            }
        }
    }
    .single-blog-content{
        @media(min-width: 992px){
            max-width: 748px;
            margin-inline: auto;
        }
        p{
            font-size: 1.8rem;
            line-height: 2.6rem;
            text-align: justify;
            padding-inline: 10px;
            margin-bottom: 20px;
            @media(min-width: 992px){
                padding-inline: 0;
            }
        }
        .tags{
            font-family: $bodoni;
            line-height: 2.7rem;
            margin-top: 20px;
            p{
                font-style: italic;
                font-weight: 400;
                margin-bottom: 20px;
            }
            div{
                display: flex;
                a{
                    display: inline-block;
                    color: #1e1e1e;
                    margin-inline: 18px;
                }
            }
        }

    }

}
